/*
Fuentes de google
font-family: 'Josefin Sans', sans-serif;
font-family: 'Josefin Slab', serif;
font-family: 'Playfair Display', serif;
*/

/*Header*/
header,footer{
    display:flex;
    flex-direction: row;
}
ul{
    list-style-type: none;
    display:flex;
    flex-direction: row; 
    flex-wrap: wrap;
}
a{
    text-decoration:none;
    font-size:20px;
}
li{
    padding:5px;
    margin:5px;
}
.logo{
    width:60px;
    margin-right: 12px;
    margin-left: 12px;
}
.mb-10{
    margin-bottom: 5px;
}
.ml-10{
    margin-left: 10px;
}
.flex-header{
    justify-content: space-between; 
    align-items:center; 
    height: 80px;
}
.l-header{
    align-items: flex-end;
    display: flex;
    justify-content: center;
}
.titulo{
    font-family: 'Playfair Display', serif;
    font-size: 12px;
    align-self: center;
    margin-left: 10px;
    margin-top: 10px;
}
.navegador{
    font-family: 'Josefin Slab', serif;

}
.menu{
    display: inline-block;
}
.portada img{
    width: 100%;
    height: auto;
    margin-top: 0px;
}
hr{
    margin: 0px;
}
main{
    display:flex;
    flex-direction: column;
}
.presentacion{
    display: inline-block;
}
h1{
    font-family: 'Playfair Display', serif;
    margin-bottom: 5px;
    font-size:x-large;
}
h2{
    font-family: 'Playfair Display', serif;
    margin-bottom: 5px;
}
h3{
    font-family: 'Playfair Display', serif;
    margin-bottom: 5px;
}
p{
    font-family: 'Josefin Slab', serif;
    font-size: medium;
    font-weight: bold;
    line-height: 120%;
    margin-top: 5px;
    margin-bottom: 5px;
}

.footer{
    justify-content:space-around;
    background-color: #E2F4F8;
    padding: 30px;
    margin-top: 20px;
}
.redes{
    font-family: 'Josefin Slab', serif;
    font-size: medium;
    display: inline-block;

}
.l-footer{
    align-items: flex-end;
    justify-content: center;
}
.n-seccion{
    text-align: center;
}
.a-img img{
    width: 200px;
}
.tarifa{
    background-color: #c4e8f2;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}