/* 
Google fonts 
font-family: 'Josefin Sans', sans-serif;
font-family: 'Josefin Slab', serif;
font-family: 'Playfair Display', serif;
*/

/*Header*/
header,footer{
    display:flex;
    flex-direction: row;
}
ul{
    list-style-type: none;

}
a{
    text-decoration:none;
}
li{
    padding:5px;
    margin:5px;
}

/*Font*/
.titulo{
    font-family: 'Josefin Slab', serif;
    align-self: center;
    margin-left: 10px;
    margin-top: 10px;
}
h1{
    font-family: 'Playfair Display', serif;
    margin-bottom: 5px;
}
h2{
    font-family: 'Playfair Display', serif;
    margin-bottom: 5px;
}
h3{
    font-family: 'Playfair Display', serif;
    margin-bottom: 5px;
}
h4{
    font-family: 'Playfair Display', serif;
    /*margin-bottom: 5px;*/
}
h5{
    font-family: 'Playfair Display', serif;
    /*margin-bottom: 5px;*/
}
h6{
    font-family: 'Josefin Sans', sans-serif;

    /*margin-bottom: 5px;*/
}
p{
    font-family: 'Josefin Sans', sans-serif;
    font-size:large;
    line-height: 120%;
    margin-top: 5px;
    margin-bottom: 5px;
}
.size-2{
    font-family: 'Josefin Sans', sans-serif;
    font-size:25px;
    line-height: 120%;
    margin-top: 5px;
    margin-bottom: 5px;
}
.s-label{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
}
.s-textinput{
    background-color: #E2F4F8;
    border-radius: 15px;
    border: 1px solid white;
    padding: 14px;
}

/*Tablet*/
@media (max-width:992px){
    .center{
        text-align: center;
        vertical-align: middle;
    }
    .break{
        margin-bottom: 20px;
    }
}

/*Colores*/
.fondo{
    background-color: #E2F4F8;
    height: 100%;
    padding: 20px;
}
.black-blue{
    color:#0D667E;
}

/*Estilo*/
.side-margin{
    margin-left: 10px;
    margin-right: 10px;
}
.card-img{
    height: 230px;
}
.align-center{
    text-align: center;
    vertical-align: middle;
}
.card-radius{
    border-radius: 15px;
}
.buttons{
    background-color: #14A3C9;
    border-radius: 20px;
    color: #ffff;
    font-family: 'Josefin Sans', sans-serif;
    padding-left: 25px;
    padding-right: 25px;
}
.break{
    margin-bottom: 20px;
}
.card-margin{
    border: 8px solid white;
}








.logo{
    width:60px;
    margin-right: 12px;
    margin-left: 12px;
}
.mb-10{
    margin-bottom: 5px;
}
.ml-10{
    margin-left: 10px;
}
.flex-header{
    justify-content: space-between; 
    align-items:center; 
    height: 80px;
}
.l-header{
    align-items: flex-end;
    display: flex;
    justify-content: center;
}
.nav-list{
    font-family: 'Josefin Slab', serif;
    font-weight: 600;
}
.navegador{
    font-family: 'Josefin Slab', serif;

}
.menu{
    display: inline-block;
}

hr{
    margin: 0px;
}
main{
    display:flex;
    flex-direction: column;
}
.presentacion{
    display: inline-block;
}


.footer{
    justify-content:space-around;
    background-color: #E2F4F8;
    padding: 30px;
    margin-top: 20px;
}
.redes{
    font-family: 'Josefin Slab', serif;
    font-size: medium;
    display: inline-block;

}
.l-footer{
    align-items: flex-end;
    justify-content: center;
}
.n-seccion{
    text-align: center;
}
.a-img img{
    width: 200px;
}
.tarifa{
    background-color: #c4e8f2;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}